<!--
<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @user.phone %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
-->
<!--
<h1>
	<%= gravatar_for @user %>
	<%= @user.name %>
</h1>
-->
<div class="row">
    <aside class="span4">
        <section>
            <h1>
             <%= gravatar_for @user %>
             <%= @user.name %>
            </h1>
            <%= pluralize @user.posts.count, "posts" %><br>
            <%= link_to pluralize(@user.followers.count, "follower"), followers_user_path(@user) %><br>
       </section>

       <section>
		   <% #unless current_user == @user %>
           <% unless current_user?(@user) %>

               <% if current_user.following?(@user) %>
                   <%= link_to "Unfollow", unfollow_user_path(@user), class: "btn btn-large", method: :delete %>
               <% else %>
                   <%= button_to "Follow", follow_user_path(@user), class: "btn btn-large btn-primary" %>
               <% end %>
            <% end %>
       </section>
    </aside>

<div class="span8">
    <h1>Posts</h1>
    <ul class="posts">
      <%= render partial: "shared/post", collection: @posts %>
    </ul>
    <%= will_paginate @posts %>
  </div>

</div>
