<!DOCTYPE html>
<html>
<head>
  <title>FirstApp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<!-- 0824 New header 
<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "First App", '#', id: "logo" %>
</div>
</div>
</header>
-->

<!--0825 New Header  -->
<header class="navbar navbar-fixed-top navbar-inverse">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to "FirstApp", "#", id: "logo" %>
            <nav>
              <ul class="nav pull-right">
              <% if signed_in? %>
                <li><%= link_to "Hello #{current_user.name}", current_user %></li>
                <li><%= link_to "Log out", sessions_path, method: "delete" %></li>
              <% else %>
                <li><%= link_to "Log In", new_sessions_path %></li>
                <li><%= link_to "Register", new_user_path %></li>
              <% end %>
              </ul>
            </nav>
        </div>
    </div>
</header>

<!-- 0824 Content wrapped in container -->
<div class="container">
	
  <%= yield %>
  <!-- New footer -->
  <footer class="footer">
    <small>
      <a href="codecamp.io">程式開發工作營</a>
    </small>
  </footer>
  <!-- 0824 Debugging footer -->
    <%= debug(params) if Rails.env.development? %>
</div>

</body>
</html>